extends ../../../../views/layouts/base.pug

include ../../../../views/mixins/navs/sidebar.pug
include ../../../../views/mixins/navs/dashhead.pug

append body
  div.container
    div.row
      div.col-sm-3
        +sidebar('scrapers')
      div.col-sm-9
        +dashhead('Scrapers', 'Tools', true)
        block content