extends ../../../../shared/views/layouts/base.pug

include ../../../../shared/views/mixins/navs/sidebar.pug
include ../../../../shared/views/mixins/navs/dashhead.pug

append head
  style.
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

append body
  div.container
    div.row
      div.col-sm-3
        +sidebar(path)
      div.col-sm-9
        +dashhead('Scrapers', 'Tools', true)
        block content