mixin sidebar(path)
  div.sidebar
    nav.sidebar-nav
      div.sidebar-header
        button(type="button" data-toggle="collapse" data-target="#nav-toggleable-sm").nav-toggler.nav-toggler-sm.sidebar-toggler
          span.sr-only Toggle nav
        a(href="/").sidebar-brand.img-responsive
          span.icon.icon-globe.sidebar-brand-icon
          span Geolink
      div#nav-toggleable-sm.collapse.nav-toggleable-sm
        ul.nav.nav-pills.nav-stacked
          li.nav-header Dashboards
          li(class=(path === "overview" ? "active" : ""))
            a(href="/") Overview
          li(class=(path === "map" ? "active" : ""))
            a(href="/map") Map
          li.nav-header Tools
          li(class=(path === "scrapers" ? "active" : ""))
            a(href="/scrapers") Scrapers
          li(class=(path === "admin" ? "active" : ""))
            a(href="/admin") Admin
          li.nav-header Misc
          li
            a(href="/auth/logout") Logout
        hr.visible-xs