extends ../../../../views/layouts/base.pug

include ../../../../views/mixins/navs/sidebar.pug
include ../../../../views/mixins/navs/dashhead.pug

append head
  style.
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }