extends ./layouts/base.pug

append head
  title Overview

append body
  div.container
    div.row
      div.col-sm-3
        +sidebar('admin')
      div.col-sm-9
        +dashhead('Admin', 'Tools', true)
        div.row
          div.col-sm-12
            p Under construction!

append scripts