extends ../../../shared/views/layouts/base.pug

append head
  title Admin
  style.
    body {
      padding-top: 40px;
      padding-bottom: 40px;
    }

append body
  h1 Hello, world!

append scripts