meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(meta http-equiv="x-ua-compatible" content="ie=edge")
link(rel="icon" type="image/ico" href="/img/favicon.ico")
link(href="/libs/theme-dashboard/css/toolkit-inverse.min.css" rel="stylesheet")